{% extends 'layouts/base.html' %}

{% block title %} Lista de Estudiantes {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Estudiantes</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Listado</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header border-0">
                    <h3 class="mb-0">Estudiantes Asignados</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Nombre</th>
                                <th scope="col" class="sort" data-sort="rut">RUT</th>
                                <th scope="col" class="sort" data-sort="carrera">Carrera</th>
                                <th scope="col" class="sort" data-sort="status">Riesgo</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% for estudiante in estudiantes %}
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">{{ estudiante.nombre }} {{ estudiante.apellido }}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    {{ estudiante.rut }}
                                </td>
                                <td>
                                    {{ estudiante.carrera.nombre }}
                                </td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-warning"></i>
                                        <span class="status">{{ estudiante.estado_actual.nombre }}</span>
                                    </span>
                                </td>
                                <td>
                                    <a href="{% url 'estudiante-detail' estudiante.pk %}" class="btn btn-sm btn-neutral">Ver Perfil</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">No hay estudiantes registrados.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

</div>

{% endblock content %}